/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  position: relative;
  min-height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  background-color: #FFFBF2 !important;
  flex: 1;
}

.text{
  color: #5B4721;
}

.navbar{
  background-color: white;
}

.rounded-pill{
  background-color: #ee827d;
}

.review-color{
  background-color: #F5D01F
}

.btn-warning{
    background-color: #F5D01F
}

.btn-info{
    background-color: #c0c0c0
}

.image_input_btn{
        display: block;
        background-color: white;
        width: 250px;
        height: 30px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 5px;
        padding-top: 2px;
        color: #27acd9;
        text-decoration: none;
        text-align: center;
        border: 2px solid #27acd9;
      	box-shadow: 4px 4px #27acd9;
      }

      .image_form{
        display: none;
      }

.fade:not(.show) {
  display: none;
}

.border {
  solid: 2px;
  color: #5B4721;
}

.pagination{
  width: 100%;
}

.nav-tabs.nav-pills .nav-link.active{
  color: #5B4721;
  background-color: #fcc265;
}

.nav-tabs.nav-pills .nav-link{
  color: #5B4721;
  background-color: #ccbca1;
}

.rank{
  width: 70%;
}

.rank-number-box {
  position: relative;
  display: inline-block;
}
.rank-number {
  position: relative;
  color: #5B4721;
}
.rank-number-icon {
  position: absolute;
  margin-left: -100%;
  top: 20%;
  color: #fcc265;
}

