<% if book.bookmarked_by?(current_user) %>
  <p>
    <%= link_to book_bookmarks_path(book), method: :delete do %>
      <i class="fas fa-bookmark"></i>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to book_bookmarks_path(book), method: :post do %>
      <i class="far fa-bookmark"></i>
    <% end %>
  </p>
<% end %>